@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
    @apply font-afacad text-base;
}

.btn {
    @apply font-afacad text-base;
}

/* para hacer responsivo el FlipClockCountdown */
._qWTcH {
    flex-wrap: wrap;
}